<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>ВИНОГРАДиЯ — продажа саженцев, черенков винограда Горбач А.Ф. из Волгоградской области</title>
</head>


<div class="main">
    <th:block th:insert="~{blocks/header :: header}"/>
    <!-- Кнопки выбора действий над сортами -->
    <th:block th:insert="~{blocks/buttons :: buttons}"/>
    <section>
        <div class="container">
            <!-- форма редактирования сорта -->
        </div>
    </section>
    <section>
        <div class="container">
            <div class="container text-margin">
                <h2> Просмотр/редактирование таблиц </h2>
            </div>
        </div>
    </section>
    <!-- просмотр/редактирование продуктов -->
    <section>
        <div class="container mob-table">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Название сорта</th>
                        <th scope="col">Саженцы<br>имеется<br>продано</th>
                        <th scope="col">Черенки<br>имеется<br>продано</th>
                        <th scope="col">Срок созревания</th>
                        <th scope="col">Сила роста</th>
                        <th scope="col">Гроздь</th>
                        <th scope="col">Ягода</th>
                        <th scope="col">Вкус и консистенция мякоти</th>
                        <th scope="col">Морозо-стойкость</th>
                        <th scope="col">Цена саженца</th>
                        <th scope="col">Цена черенка</th>
                        <th scope="col">Селекция</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Мини селекция</th>
                        <th scope="col">Изображение</th>
                        <th scope="col">Описание</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="product : ${products}">
                        <th scope="row" th:text="${product.getName()}"/>
                        <td>
                            <span th:text="${product.getSajIn()}"/><br><span th:text="${product.getSajOut()}"/>
                        </td>
                        <td>
                            <span th:text="${product.getCherIn()}"/><br><span th:text="${product.getCherOut()}"/>
                        </td>
                        <td th:text="${product.getTime()}"/>
                        <td th:text="${product.getStrength()}"/>
                        <td th:text="${product.getCluster()}"/>
                        <td th:text="${product.getBerry()}"/>
                        <td th:text="${product.getTaste()}"/>
                        <td th:text="${product.getResistanceCold()}"/>
                        <td th:text="${product.getPriceSeed()}"/>
                        <td th:text="${product.getPriceCut()}"/>
                        <td th:if="${product.getSelection() != null}" th:text="${product.getSelection().getName()}"/>
                        <td th:if="${product.getSelection() == null}"/>
                        <td>
                            <a th:href="@{/admin/{id}/upd-product(id=${product.getId()})}" class="btn btn-outline-dark" style="width: 100px !important;">Изменить</a>
                        </td>
                        <td>
                            <form style="display: inline-block;" th:method="POST"
                                  th:action="@{/admin/{id}/del-product(id=${product.getId()})}">
                                <input type="submit" th:value="Удалить" class="btn btn-outline-dark" style="width: 100px !important;">
                            </form>
                        </td>
                        <td th:text="${product.getSelectionMini()}"/>
                        <td th:text="${product.getImage()}"/>
                        <td th:text="${product.getDescription()}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<th:block th:insert="~{blocks/footer :: footer}"/>
</body>
</html>
