<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ВИНОГРАДиЯ — продажа саженцев, черенков винограда Горбач А.Ф. из Волгоградской области</title>
    <meta name="description"
          content="Продажа саженцев и черенков распространенных и новых сортов и гибридных форм винограда">
    <meta name="keywords"
          content="саженцы винограда, черенки винограда, Волгоградская область, Волгоград, купить, продажа"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-footer.css}">
</head>
<body>
<div class="main">
    <header th:insert="~{blocks/header :: header}" />
    <section th:insert="~{blocks/buttons :: buttons}" />
    <section>
        <div class="container text-margin">
            <!-- форма добавления селекции -->
            <h2> Добавление селекции </h2>
            <form th:method="POST" th:action="@{/admin/save-selec}" th:object="${selection}">
                <div class="row mb-10">
                    <input type="text" th:field="*{name}" class="form-control btn-outline-dark" id="selection"
                           placeholder="Название селекции" required />
                </div>
                <div class="row mb-10">
                    <input type="submit" value="Добавить" class="btn btn-dark mb-3" />
                </div>
            </form>
        </div>
    </section>

</div>
</body>
</html>