<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{blocks/includes :: includes}"/>
    <title>Настройка селекций</title>
</head>
<body>
<div class="main">
    <th:block th:insert="~{blocks/header :: header}"/>
    <th:block th:insert="~{blocks/buttons :: buttons}"/>
    <section>
        <div class="container text-margin">
            <!-- форма добавления селекции -->
            <h2> Настройка селекций </h2>
            <form th:method="POST" th:if="${status.equals('Добавить')}"
                  th:action="@{/admin/save-selection}"
                  th:object="${selection}" class="admin-form">
                <div class="col-12 mb-2">
                    <input type="text" th:field="*{name}" class="form-control btn-outline-dark" id="selection"
                           placeholder="Название селекции" required/>
                </div>
                <div class="col-12 mb-2">
                    <input type="submit" th:value="${status}" class="btn btn-dark mb-3" style="width: 100% !important;">
                </div>
            </form>
            <form th:method="POST" th:if="${status.equals('Изменить')}"
                  th:action="@{/admin/{id}/upd(id=${selection.getId()})}"
                  th:object="${selection}" class="admin-form">
                <div class="col-12 mb-2">
                    <input type="text" th:field="*{name}" class="form-control btn-outline-dark" id="selection"
                           placeholder="Название селекции" required/>
                </div>
                <div class="col-12 mb-2">
                    <input type="submit" th:value="${status}" class="btn btn-dark mb-3" style="width: 100% !important;">
                </div>
            </form>
        </div>
        <div class="container text-margin">
            <h2> Просмотр списка селекций </h2>
            <hr>
            <table class="table table-borderless table-hover">
                <tbody>
                <tr th:each="selectioni : ${selections}">
                    <td><h3 th:text="${selectioni.getName()}"/></td>
                    <td>
                        <div class="block1 text-end">
                            <a th:href="@{/admin/{id}/upd-selection(id=${selectioni.getId()})}"
                               class="btn btn-outline-dark mb-1" th:text="Изменить" style="width: 128px !important;"/>
                            <form style="display: inline-block;" th:method="POST"
                                  th:action="@{/admin/{id}/del-selection(id=${selectioni.getId()})}">
                                <input type="submit" class="btn btn-outline-dark mb-1" th:value="Удалить" style="width: 128px !important;">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<th:block th:insert="~{blocks/footer :: footer}"/>
</body>
</html>