<!DOCTYPE html>
<html lang="ru">

<head>
  <meta name="robots" content="noindex, nofollow" />
  <th:block th:insert="~{blocks/includes :: includes}" />
  <title>ВИНОГРАДиЯ — авторизация</title>
</head>

<body>
  <div class="main">
    <th:block th:insert="~{blocks/header :: header}" />
    <section>
      <div class="container first-margin">
        <h1>Авторизация</h1>
      </div>
    </section>

    <section>
      <div class="container">
        <form method="POST">
          <div class="row" style="padding-top:10px">
            <div class="col-4 col text-right">
              Логин:
            </div>
            <div class="col-3">
              <input type="text" name="login" class="form-control btn-outline-dark" id="exampleFormControlInput1" />
            </div>
            <div class="col-5"></div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-4 col text-right">
              Пароль:
            </div>
            <div class="col-3">
              <input type="password" name="password" class="form-control btn-outline-dark"
                id="exampleFormControlInput1" />
            </div>
            <div class="col-5"></div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-4"></div>
            <div class="col-1">
              <input type="submit" class="btn btn-dark mb-3 " name="do_login" value="   Войти   " />
            </div>
          </div>
          <div class="row">
            <?php
                if(!empty($errors))
                {
                    echo '<div class="col-11 col text-center"><hr>'.array_shift($errors).'</div>';
                }
                ?>
          </div>
        </form>
      </div>
    </section>
  </div>
  <th:block th:insert="~{blocks/footer :: footer}"/>
</body>

</html>