<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{blocks/includes :: includes}"/>
    <title>ВИНОГРАДиЯ — продажа саженцев, черенков винограда Горбач А.Ф. из Волгоградской области</title>
</head>

<body>
<div class="main">
    <th:block th:insert="~{blocks/header :: header}"/>
    <section>
        <div class="container text-margin">
            <p>Все саженцы корнесобственные, черенки: стандарт – 3-4 глазковые, минимальная длина 20-25 см.,
                минимальный
                и максимальный диаметр в пределах сортовых особенностей.</p>
            <p>Минимальная сумма заказа 1000 руб. без учёта стоимости доставки. Почтовые расходы 500 руб.</p>
            <p>Заказ согласовывается, а затем высылается после предоплаты на карту Сбербанка 5469 1100 1258 6988,
                получатель Горбач Андрей Феодосиевич.</p>
            <p>После перечисления денег, пожалуйста, обязательно вышлите сообщение (смс / e-mail / Viber, WhatsApp)
                с
                вашими ФИО и суммой платежа для подтверждения платежа.</p>
            <p>Заказ сохраняется в течение 5 дней и расформировывается, если не поступает оплата. Посадочный
                материал
                реализуется другим покупателям.</p>
            <p>Обязательно при оформлении заказа указывайте свои полные почтовые реквизиты и номер мобильного
                телефона -
                для связи с вами в период формирования заказа.</p>
            <p>Обоснованные претензии по посадочному материалу принимаются в течение 5 дней после получения.</p>
            <p>Рассылка посадочного материала на осень – <?php echo($year);?> - весна <?php echo($yearNew);?> года будет
                производиться следующим
                образом:
                саженцы с 15 октября, черенки с 1 ноября.</p>
            <p>*Не является публичной офертой. Каталог опубликован в целях информирования, все торговые марки
                принадлежат их владельцам.</p>
        </div>
    </section>
</div>
<th:block th:insert="~{blocks/footer :: footer}"/>
</body>
</html>
