<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ВИНОГРАДиЯ — продажа саженцев, черенков винограда Горбач А.Ф. из Волгоградской области</title>
    <meta name="description"
          content="Продажа саженцев и черенков распространенных и новых сортов и гибридных форм винограда">
    <meta name="keywords"
          content="саженцы винограда, черенки винограда, Волгоградская область, Волгоград, купить, продажа"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-footer.css">
</head>

<body>
<div class="main">
    <header th:insert="~{blocks/header :: header}"></header>

    <section>
        <div class="container text-margin">
            <h1>Каталог саженцев, черенков винограда на осень <?php echo($year);?> - весна <?php echo($yearNew);?>
                года</h1>
            <!--<a class="move" href="download/Price-list_GorbachAF_2022-2023.pdf" download>Скачать прайс-лист</a>-->
        </div>
        <div class="container mob-table">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Название сорта</th>
                    <th scope="col">Срок созревания</th>
                    <th scope="col">Сила роста</th>
                    <th scope="col">Гроздь</th>
                    <th scope="col">Ягода</th>
                    <th scope="col">Вкус и консистенция мякоти</th>
                    <th scope="col">Морозо-стойкость</th>
                    <th scope="col">Цена (Руб) саженца</th>
                    <th scope="col">Цена (Руб) черенка</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <th scope="row" th:text="${product.getName()}" />
                    <td th:text="${product.getTime()}" />
                    <td th:text="${product.getStrength()}" />
                    <td th:text="${product.getCluster()}" />
                    <td th:text="${product.getBerry()}"/>
                    <td th:text="${product.getTaste()}"/>
                    <td th:text="${product.getResistanceCold()}"/>
                    <td th:text="${product.getPriceSeed()}"/>
                    <td th:text="${product.getPriceCut()}"/>
                </tr>
                </tbody>
            </table>
            <div class="selection-table" th:each="selection : ${selections}">
                <div class="row">
                    <div class="col">
                        <p style="margin-top: 20px;" class="text-center fw-600"
                           th:text="${selection.getName()}"/>
                    </div>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Название сорта</th>
                        <th scope="col">Срок созревания</th>
                        <th scope="col">Сила роста</th>
                        <th scope="col">Гроздь</th>
                        <th scope="col">Ягода</th>
                        <th scope="col">Вкус и консистенция мякоти</th>
                        <th scope="col">Морозо-стойкость</th>
                        <th scope="col">Цена (Руб) саженца</th>
                        <th scope="col">Цена (Руб) черенка</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${selection.getProducts()}">
                        <th scope="row" th:text="${product.getName()}" />
                        <td th:text="${product.getTime()}" />
                        <td th:text="${product.getStrength()}" />
                        <td th:text="${product.getCluster()}" />
                        <td th:text="${product.getBerry()}"/>
                        <td th:text="${product.getTaste()}"/>
                        <td th:text="${product.getResistanceCold()}"/>
                        <td th:text="${product.getPriceSeed()}"/>
                        <td th:text="${product.getPriceCut()}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="text-margin fw-600">* — Без подтверждения сортности.</p>
        </div>
        </section>

</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>
