<!-- Кнопки выбора действий над сортами -->
<div class="container text-margin">
    <h1> Редактирование </h1>
    <div th:fragment="buttons" class="container text-margin">
        <h1> Редактирование </h1>
        <div class="btn-group mr-2 btn-group-lg" role="group" aria-label="First group">
            <a href="/admin/new-product" class="btn btn-dark">Добавление сорта</a>
            <a href="/admin/new-selection" class="btn btn-dark">Добавление селекции</a>
            <a href="/admin/upd-selection" class="btn btn-dark">Редактирование селекции</a>
            <a href="/admin" class="btn btn-dark">Закрыть</a>
        </div>
    </div>
</div>